# virtualenv directory
hun/

# __pycache__ directory
__pycache__/

# pyenv directory
.python-version

# pytests coverage report and cache
.coverage*
.pytest_cache/
htmlcov/

# IDE files
.vscode/
.idea/
.pycharm/

# TensorBoard logs
tb_logs/

# Checkpoints
checkpoints/