checkpoint:
  _target_: lightning.pytorch.callbacks.ModelCheckpoint
  save_last: True # additionally, always save model from last epoch
  verbose: False
  dirpath: "checkpoints/"
  filename: "hnet_model_DOA${max_doas}_{epoch:01d}_${now:%H%M%S}"
  monitor: "validation_loss"
  save_top_k: 3
  mode: "min"