### Top-level config file for run.py

# Top-level variables available in all config files
description: "${hydra:runtime.choices.lightning_datamodule}"
max_doas: 2 # Maximum DoAs to estimate
num_workers: 0
batch_size: 128
nb_epochs: 100
train_filename: "${hydra:runtime.cwd}/data/reference/hung_data_train.pkl"
test_filename: "${hydra:runtime.cwd}/data/reference/hung_data_test.pkl"
sample_range_trained_on: "3000-5000-15000"
resolution_used: 'standard_resolution'

# Hydra configuration
version_base: "1.3"
hydra:
  job:
    chdir: True # change working directory to the job directory
  run:
    dir: "outputs/run/${hydra:runtime.choices.lightning_datamodule}/hnet/${now:%Y-%m-%d_%H-%M-%S}"

# Composing configs
defaults:
  - lightning_datamodule: hungarian_data
  - lightning_module: hnet_gru
  - trainer: ddp
  - callbacks: # Dict of callbacks
      - hnet_checkpoint
      - rich_model_summary
  - logging: tensorboard
  - metrics: 
    - f1
    - precision
    - recall
  - optimizer: 
    - adam
  - _self_ # priority is given to run.yaml for overrides